In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
data= pd.read_csv("D:\\Personal Projects\\blueskyanalyticsassignment\\src\\DatasSet Raw\\greenhouse_gas_inventory_data_data.csv")

In [3]:
len(data.category.unique())
# 10 unique categories

10

In [4]:
len(data.country_or_area.unique())
# 43 unique country

43

In [5]:
data.country_or_area.unique()
#country name
#Russian fredration is changed to Russia

array(['Australia', 'Austria', 'Belarus', 'Belgium', 'Bulgaria', 'Canada',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'European Union', 'Finland', 'France', 'Germany', 'Greece',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Latvia',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Monaco',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Romania', 'Russia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom',
       'United States of America'], dtype=object)

In [6]:
data.category.unique()
#category name after shorten

array(['co2_without_land', 'ghgs', 'ghgs_without_land', 'hfcs',
       'ch4_without_land', 'nnf3', 'n2o_without_land', 'pfcs', 'sf6',
       'mix_of_hfcs_and_pfcs'], dtype=object)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8406 entries, 0 to 8405
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_or_area  8406 non-null   object
 1   year             8406 non-null   int64
 2   value            8406 non-null   float64
 3   category         8406 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 262.8+ KB

In [8]:
#changing data type of year to string
data.year=data.year.astype(str)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8406 entries, 0 to 8405
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_or_area  8406 non-null   object
 1   year             8406 non-null   object
 2   value            8406 non-null   float64
 3   category         8406 non-null   object
dtypes: float64(1), object(3)
memory usage: 262.8+ KB

In [10]:
len(data.year.unique())
#1990-2014

25

In [11]:
data.notnull()
#No null

      country_or_area  year  value  category
0                True  True   True      True
1                True  True   True      True
2                True  True   True      True
3                True  True   True      True
4                True  True   True      True
...               ...   ...    ...       ...
8401             True  True   True      True
8402             True  True   True      True
8403             True  True   True      True
8404             True  True   True      True
8405             True  True   True      True

[8406 rows x 4 columns]

In [12]:
data

               country_or_area  year          value              category
0                    Australia  2014  393126.947000      co2_without_land
1                    Australia  2013  396913.936500      co2_without_land
2                    Australia  2012  406462.847700      co2_without_land
3                    Australia  2011  403705.528300      co2_without_land
4                    Australia  2010  406200.993200      co2_without_land
...                        ...   ...            ...                   ...
8401  United States of America  1994     593.222570  mix_of_hfcs_and_pfcs
8402  United States of America  1993     586.939752  mix_of_hfcs_and_pfcs
8403  United States of America  1992     574.414624  mix_of_hfcs_and_pfcs
8404  United States of America  1991     566.900968  mix_of_hfcs_and_pfcs
8405  United States of America  1990     293.205663  mix_of_hfcs_and_pfcs

[8406 rows x 4 columns]

# creating the best format based on the feature mention in assignment



 creating the best format based on the so that the time complexity in Frontend can be minimise
 Post completiing the Dataset will look like 
 
{
'country1': {

    cat1:{
       year1:value,
       year2:value
       },
       
    cat2:{
       year1:value,
       year2:value
         }
     
   },
    
'country2': {

    cat1:{
       year1:value,
       year2:value
       },
    cat2:{
       year1:value,
       year2:value
       },
   },
   
}

# Script

In [13]:
JsonDict={}
for i in data.country_or_area.unique(): #every unique country
    JsonDict[i]={}
    tempcat={}
    for j in data.category.unique(): # will have unique categories
        tempcat[j]={}
        tempyear={}
        for k in data.year.unique(): # every unique category will have 25 unique year with value corrospoindin to it
            filter1=data.country_or_area==i
            filter3=data.category==j
            filter2=data.year==k
            apply=data.where(filter1 & filter2&filter3)
            apply.dropna(inplace=True)
            tempyear[k]=0
            tempyear[k]= apply.value.to_numpy()[0] if len(apply.value.to_numpy())>0 else 0
        tempcat[j]=tempyear
    JsonDict[i]=tempcat

In [14]:
len(JsonDict)

43

convert dictnory to JSON

In [15]:

a=json.dumps(JsonDict)

In [16]:
#save JSON file
with open("greenhouse_gas_inventory_.json", "w") as outfile: 
    json.dump(json.loads(a), outfile)

 ------------------------------------------------------------------thats all :)---------------------------------------------------------------